@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    overflow: hidden;
    display: grid;
    margin: 0;
    min-height: 100vmin;
    max-height: 100vmin;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    grid-template-columns: 12fr 88fr;
    grid-template-rows: 1fr 10fr;
}

.header {
    padding: 2rem;
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 2rem;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
}

.upper-header,
.lower-header {
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
}

.upper-header {
    grid-template-columns: 4fr 1fr;
}

.search-container {
    display: grid;
    grid-template-columns: 32px 1fr;
    padding-right: 1rem;
    align-items: center;
}

#search-bar {
    border: none;
    outline: 0;
    font-size: 1.5rem;
    padding-bottom: 0.4rem;
}

.name-container {
    display: grid;
    grid-template-rows: 1rem 1, 8rem;
    font-weight: bold;
    align-items: center;
}

.username {
    font-weight: bolder;
    font-size: 1.8rem;
}

.greetings-top {
    font-size: 1rem;
}

.header-icon-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    justify-items: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-top: 0.4rem;
}

button {
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    background-color: #0EA5E9;
    width: 125px;
    height: 50px;
    border-radius: 25px;
    border: none;
    margin-bottom: 5px;
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #0A76A8;
}

button:active {
    background-color: #064969;
}

.user-container {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 0.5rem;
    align-items: center;
}

.title-container {
    display: grid;
    grid-template-columns: 10fr 1fr;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 12.5rem;
    align-items: center;
    justify-content: end;
    font-size: 1.4rem;
    font-weight: 900;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 2px 3px 5px rgb(175, 175, 175);
    display: grid;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-icon-container {
    justify-self: end;
}

.project {
    padding-left: 1.5rem;
    padding-right: 1rem;
    border-left: 10px solid #fbbf24;
    grid-template-rows: 3rem 2fr 3rem;
}

.announcements,
.trending {
    padding: 2rem;
}

.announcements {
    display: grid;
    gap: 1rem;
}

.announcements-heading {
    font-weight: bold;
}

.announcements-container {
    border-bottom: 1px solid rgb(175, 175, 175);
}

.announcements-container:last-child {
    border: none;
}

.project-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.misc-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 2rem 2rem 0;
}

.trending-wrapper {
    display: grid;
    grid-template-rows: 3rem 1fr;
}

.trending-wrapper>span {
    font-size: 1.4rem;
    font-weight: 900;
    padding-left: 1rem;
}

.trending-profile {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 1.5rem;
    align-items: center;
}

.trending-profile-icon {
    width: 48px;
    height: 48px;
}

.trending-profile-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 0.5rem;
}

.card-text,
.announcements-description,
.trending-project {
    color: #52525b;
}

.navigation-panel {
    grid-row: 1 / 3;
    background-color: #0EA5E9;
    color: white;
    font-weight: 550;
    font-weight: bolder;
}

.navigation-panel>div>div {
    margin-bottom: 1.5rem;
}

.navigation-title,
.navigation-point {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}

.navigation-title {
    padding: 1rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}

.navigation-primary-container,
.navigation-secondary-container {
    padding: 2rem;
}

.navigation-icon {
    width: 32px;
    margin-right: 1rem;
    filter: invert(100%);
}

.header-icon {
    width: 32px;
    height: 32px;
}

.project-icon {
    width: 24px;
    margin-left: 10px;
}

@media (max-width: 1080px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .project-container {
        display: flex;
        flex-direction: column;
    }

    body {
        grid-template-rows: initial;
    }

    .title-container {
        display: none;
    }

    .trending-profile-info {
        grid-template-rows: initial;
        grid-template-columns: 4rem 1fr;
        gap: 4rem;
    }
}

@media (max-width: 800px) {
    .navigation-text {
        display: none
    }

    .navigation-primary-container,
    .navigation-secondary-container {
        padding: 16px;
        margin: 0;
    }

    .navigation-panel img {
        width: 32px;
        margin: 0;
    }

    #dashboard {
        width: 32px;
        margin: 0;
    }
}